name: CI Pipeline

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 13.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install yarn
      run: cd demo; npm install -g yarn
    - name: Install dependencies
      run: cd demo; yarn install
    - name: Production build
      run: cd demo; yarn run build
    - name: Linting
      run: cd demo; yarn run lint
    - name: Tests
      run: cd demo; yarn test
      env:
        CI: true
